---
layout: home
title: Publications
---

<h1>Publications</h1>

<p>All papers are listed in chronological order of their creation. Use the search bar to find papers by year, title, authors, journal, or category. * indicates a mentored student. </p>

<input type="text" id="searchBox" onkeyup="searchTable()" placeholder="Search for papers...">

<br> </br>

<table id="publicationsTable" border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="width: 5%">Year</th>
            <th style="width: 30%;">Title</th>
            <th style="width: 28%;">Authors</th>
            <th style="width: 20%;">Journal/Preceedings/Book/Preprint</th>
            <th style="width: 7%;">Category</th>
            <th style="width: 10%;">Links</th>
        </tr>
    </thead>
    <tbody>
	{% assign sorted_pubs = site.data.publications | sort: "year" | reverse %}
        {% for pub in sorted_pubs %}
        <tr>
            <td>{{ pub.year }}</td>
            <td style="word-wrap: break-word; white-space: normal;">{{ pub.title }}</td>
            <td style="word-wrap: break-word; white-space: normal;">{{ pub.authors }}</td>
            <td style="word-wrap: break-word; white-space: normal;">{{ pub.journal }}</td>
            <td>{{ pub.category }}</td>
            <td>
                    {% if pub.html_link %}
		        <a href="{{ pub.html_link }}" target="_blank">[html]</a>
                    {% endif %}
                    {% if pub.pdf_link %}
                        <a href="{{ pub.pdf_link }}" target="_blank">[pdf]</a>
                    {% endif %}
		    {% if pub.code %}
                        <a href="{{ pub.code }}" target="_blank">[code]</a>
                    {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p> Total Publications: {{ site.data.publications | size }} </p>

<script>
function searchTable() {
    let input = document.getElementById("searchBox").value.toLowerCase();
    let table = document.getElementById("publicationsTable");
    let rows = table.getElementsByTagName("tr");

    for (let i = 1; i < rows.length; i++) {
        let text = rows[i].textContent.toLowerCase();
        rows[i].style.display = text.includes(input) ? "" : "none";
    }
}
</script>

