<!DOCTYPE html>
	<html>
		<head>
			 <meta charset="utf-8">
                         <meta http-equiv="X-UA-Compatible" content="chrome=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		
    <div class="wrapper">
      <nav>
      	<ul>
      		    		<li><a href="/">SHAN <sup>2</sup></a></li>
	        		<li><a href="{{ BASE_PATH }}/research/research.html">RESEARCH</a></li>
		        	<li><a href="{{ BASE_PATH }}/teaching/teaching.html">TEACHING</a></li>
	        		<li><a href="{{ BASE_PATH }}/AboutMe/aboutme.html">ME</a></li>
	    		        </ul>
      </nav>
      
      <header>
      	<h1>Shan Shan</h1> 
        <p>Graduate Student <br>
        Department of mathematics <br>
        Duke University </p>
        
        <a href="mailto:sshan@math.duke.edu">email</a>: sshan at math dot duke dot edu <br>
        <a href="https://github.com/sshanshans">github.com/sshanshans</a>
      </header>
      
      <section>	
        <h3>Research Interests</h3>
        <p> Image processing and wavelets. </p>
        
        <hr>

        <h3>Curriculum Vitae </h3> <a href="{{ BASE_PATH }}/CV/cv.pdf”>pdf</a>
	
	<hr>
	
	<h3>Current Teaching</h3>
	<p>Fall 2016 <br>
	Math 122L: Introductory Calculus II with Applications <br>
	Mondays, Wednesdays 3:20pm - 4:10pm <br>
	Classroom: West Duke 204 <br>
	Office hours: TBA <br>		
	Course website 
	</p>
	
	<hr> 
        <h3>Current Events</h3>	
        <p> Graduate Faculty Seminar </p>
	</section>

	<footer>
        </footer>
	</div><!-- /.container -->
	
	        </body>
	</html>


