<!DOCTYPE html>
	<html>
		<head>
			 <meta charset="utf-8">
                         <meta http-equiv="X-UA-Compatible" content="chrome=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
    <div class="wrapper">
      <header>
        <h2>Shan Shan</h2>
        <p>Graduate Student <br>
        Department of mathematics <br>
        Duke University <br>
        <a href="mailto:sshan@math.duke.edu">email</a>: sshan at math dot duke dot edu
        <a href="https://github.com/sshanshans">github.com/sshanshans</a>
        </p>
        
        <p> Office: Room 330, Gross Hall <br>
        140 Science Drive <br>
        Durham, North Carolina, 27707
        </p>
      </header>
      <section>
      	
<h3>Research Interests</h3>
Image Processing and Wavelets. 
			
<h3>Curriculum Vitae</h3> <p> <a href="mailto:sshan@math.duke.edu">(pdf)</a> </p>
			
<h3>Current Events</h3>	
Graduate Faculty Seminar
		
	</section>
	</div><!-- /.container -->
	
	        </body>
	</html>


