<!DOCTYPE html>
	<html>
		<head>
			 <meta charset="utf-8">
                         <meta http-equiv="X-UA-Compatible" content="chrome=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		 <div class="wrapper">
                 <header>
                    <h1>Shan Shan</h1>

			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/research">Research</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/aboutme">me</a></li>
	    		</ul>
			</nav>
			
		</header>
		<section>
			<h3>Research Interests</h3>
			<h3>Curriculum Vitae</h3>
			<h3>Current Events</h3>	
		</section>
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sshan@math.duke.edu">email</a></li>
	        		<li><a href="https://github.com/sshanshans">github.com/sshanshans</a></li>
				</ul>
			</footer>
		</body>
	</html>


